---
name: test
guards:
  test0:
    type: test
    options:
      roles:
        - read
bindings:
  sse0:
    type: sse-kafka
    kind: proxy
    routes:
      - guarded:
          test0:
            - read
        exit: kafka0
        when:
          - path: /test/{key}/{tag}
        with:
          topic: test
          filters:
            - key: ${params.key}
              headers:
                zilla:identity: ${guarded['test0'].identity}
                tag: ${params.tag}
