name: Release Example Artifacts

on:
  push:
    tags:
      - "v[0-9]+"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Tar all examples
        run: for i in */; do tar -zcvf "${i%/}.tar.gz" "$i"; done

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            startup.sh
            *.tar.gz
            LICENSE
