_book/
!zilla/
.checkstyle
.classpath
.DS_Store
.env
.idea
.project
.settings/
.vault
.zpm/
*-cs-cleanup.xml
*-cs-formatter.xml
*.epub
*.iml
*.ipr
*.iws
*.mobi
*.pdf
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar
**/.zilla/engine
buildNumber.properties
dependency-reduced-pom.xml
node_modules/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
zilla
zilla.yaml.generated
*.out
