env:
  KEYSTORE_PASSWORD: generated
  KAFKA_BOOTSTRAP_SERVER: kafka:29092
  SASL_USERNAME: user
  SASL_PASSWORD: bitnami

livenessProbePort: 7114
readinessProbePort: 7114

args: ["start", "-v", "-e", "-Pzilla.binding.kafka.client.produce.record.framing.size=1024"]

service:
  ports:
    - port: 7114
      name: http
    - port: 7143
      name: https
